

.footer {
    background-color: aqua;
}

h1,
h2 {
    font-family: 'Alfa Slab One', cursive;
}
.hero {
    background: url(FOTO1.jpg) no-repeat;
    background-size: cover;
    height: 0.5vh;
    min-height: 600px;
    color: white;
}